<!DOCTYPE HTML>
<html lang="<%= config.language %>">
<%- partial('_partial/head') %>

<body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!-- 樱花 -->
<script src="/js/yinghua.js"></script>	
<div class="cherry">
<img id="yinghua" src="https://raw.githubusercontent.com/CityNorth/material/master/image/yinghua.jpg" alt="" >
</div> 

<script>
    $(function(){
        $('.cherry').Cherry_Blossoms({
            is_Cherry:true,//是否生成樱花
            image_min:10,//花瓣最小宽度和高度
            image_max:45,//花瓣最大宽度和高度
            time_min:1000,//花瓣最快下坠时间
            time_max:30000,//花瓣最慢下坠时间
            interval:300,//花瓣生成时间间隔
        })
    })
</script>

<%- partial('_partial/header') %>
<%- body %>
<%- partial('_partial/footer') %>

<%- partial('_partial/search') %>
<%- partial('_partial/back-top') %>

<script src="<%- theme.libs.js.materialize %>"></script>
<script src="<%- theme.libs.js.masonry %>"></script>
<script src="<%- theme.libs.js.aos %>"></script>
<script src="<%- theme.libs.js.scrollProgress %>"></script>
<script src="<%- theme.libs.js.lightgallery %>"></script>
<script src="/js/matery.js"></script>

<%- partial('_partial/google-analytics') %>
<% if (theme.clicklove.enable) { %>
    <script src="<%- theme.libs.js.clicklove %>"></script>
<% } %>
<% if (theme.busuanziStatistics && theme.busuanziStatistics.enable) { %>
    <script async src="<%- theme.libs.js.busuanzi %>"></script>
<% } %>

 
</body>
</html>